h1 {
color: orangered;
	font-size: 50pt;
	font-style: oblique;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
}
p{
	color: blue;
	font-size: 30pt;
	font-family: arial black;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
}

.imageFlottante {
	width : 600px;
height : 400px;
}

div{
	text-align: center;
}



h2{ text-align: center;
    font-size: 30pt;
    font-family: verdana;
    text-align: center;
}
